.container ul{
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    justify-content: center;
    gap: 20px;
 }

.container .image img{
    max-width: 335px;
    height: 431px;
    object-fit: cover;      
}

.container .image{
    position: relative;
}

.container .image .texto{
    position: absolute;
    bottom: 5%;
    left: 5%;
    color: #fff;
    line-height: 30px;
}

@media (max-width:425px){
    .container .image{
      width: 100%;
    }
    .container ul{
      justify-content: center;                
    }
}